*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# -- PATIDOST FABRİKA GÜVENLİK KURALLARI --
*.jks
*.keystore
*.pem
*.p12
*.key
google-services.json
key.properties
secrets.properties

/test-results
/reports
/jacoco
/detekt-reports

.devbox/
devbox.lock
*.log
*.tmp
